.title{
	font-family: 'Righteous', cursive;
	font-size: 48px;
}
.list-group-item{
	font-family: 'Chewy', cursive;
}
.name{
	font-family: 'Chewy', cursive;
	font-size: 32px;
}
.description{
	font-size: 24px;
	font-family: 'Teko', sans-serif;
}
.ingredientsagain{
	font-size: 16px;
	font-family: 'Rambla', sans-serif;
	border: 2px dotted black;
	background-color: #D3D3D3;
}
.prep-timeagain{
	font-family: 'Luckiest Guy', cursive;
	background-color: yellow;
	border: 1px solid black;
}
.listItem{
	font-family: 'Crete Round', serif;
	font-weight: bold;
	font-size: 17px;
}
.list-group-item:hover{
	background-color: #DCDCDC;
}